html,body{
    height: 100%;
    margin: 0;
    font-family: "eurostile", sans-serif;
}
.bg-primary{
    background-color: #ff9800;
}
.sub-head{
    font-size: 1.8em;
    color: #ffff;
    font-weight: 550;
    animation: subhead 1s 1;
}
@keyframes subhead{
    0%{
        margin-left: -80%;
    }
}

.outer{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.box-1{
    width: 100%;
    height: 400px;
    background-color: rgb(0, 0, 17);
    display: flex;
}
.info-outer{
    flex: 0 0 50%;
    height: 100%;
}
.info{
    width: auto;
    height: auto;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    position: relative;
}
h4{
    color: #ffff;
    font-size: 3.2em;
    text-transform: uppercase;
    animation: text 1s 1;
}
@keyframes text{
    0%{
       margin-left: -80px;
    }
    /* 70%{
        letter-spacing: 5px;
        margin-left: -80px;
        color: #ff9800;
    } */
}
.subline{
    width: 70px;
    height: 3px;
    margin-top: -70px;
    animation: sub 2s 1;
}
@keyframes sub{
    0%{
        margin-left: -80%;
    }
}
.social-media{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    animation: socialmedia 1s 1;
}
@keyframes socialmedia{
    0%{
        margin-top: -2%;
    }
}
svg{
    fill: #ff9800;
    font-size: 20px;
}





.img-outer{
    flex: 0 0 50%;
    height: 100%;
}
.img-shap{
    width: 280px;
    height: 270px;
    border-radius: 30% 70% 70% 30% / 35% 41% 59% 65%;
    background-image: url('asset/edited-shafeeq-prof-removebg-preview.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: #ff9800;
    margin-top: 50px;
    animation: shap 1s 1;
    margin-left: 30px;
}
@keyframes shap{
    0%{
        margin-top: -10px;
    }
}
/* .img-bg{
    width: 100%;
    height: 100%;
    background-image: url('/asset/edited-shafeeq-prof-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.svg-img{
    overflow: hidden;
}




.box-2{
    width: 100%;
    height: 450px;
    margin-top: -29px;
    background-color: rgb(31, 31, 45);
}
.box2-head{
    font-size: 1.8em;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: -40px;  
}
.box2-para{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0em;
}
.para{
    font-size: 1.3em;
    color: #fff;
    margin-top: 10px;
}

.moblie-para{
    display: none;
}




.box-3{
    width: 100%;
    height: 2400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 17);
}
.note{
    flex: 0 0 30%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    /* background-color: #fff; */
    /* flex-direction: column; */
}
.small-note{
    flex: 0 0 80%;
    height: 100px;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    background-image: linear-gradient(250deg, #212F45 0% , #312244 48% , #4D194D 100%);

    
    /* border: solid 1px #ffff; */
    /* display: flex;
    justify-content: space-between; */
   
    /* background: rgb(63,94,251); 
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(173,80,167,1) 56%, rgba(252,70,107,1) 100%); */

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
.lan-box1{
    flex: 0 0 10%;
    height: 80%;
    /* background-color: red; */

    background-image: url('asset/angular-seeklogo.com.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.lan-box2{
    flex: 0 0 10%;
    height: 80%;
    /* background-color: red; */

    background-image: url('asset/javascript-js-seeklogo.com.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.lan-box3{
    flex: 0 0 10%;
    height: 80%;
    /* background-color: red; */

    /* background-image: url('asset/Microsoft-Dotnet-01.svg'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.netlogo{
    width: 100px;
    margin-top: -10px;
}

.lan-box4{
    flex: 0 0 10%;
    height: 80%;
    /* background-color: red; */

    background-image: url('asset/html5-with-wordmark-color.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.lan-box5{
    flex: 0 0 10%;
    height: 80%;
    /* background-color: red; */

    /* background-image: url('asset/CSS-3-01.svg'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}







.exp-outer{
    width: 88%;
    height: auto;
    /* background-color: rgb(0, 0, 0); */
    margin-left: 6%;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    /* padding: 10px; */
    /* border: solid 1px rgb(56, 56, 56); */
    border-radius: 14px;
    margin-top: -500px;
}
.exp-head-box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-bottom: solid 1px white; */
}
.exp-head{
    font-size: 1.8em;
    color: #fff;
    font-weight: 600;
}
.exp-sub-h{
    font-size: 1.3em;
    color: #fff;
    margin-top: -15px;
}
.mrg-tp{
    margin-top: -20px;
}

.project-outer{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
.project1{
    flex: 0 0 31%;
    height: 220px;
    background-color: #081249;
    border-radius: 12px;
     background-image: url('asset/screendrive-logo1-removebg-preview.png');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
}
.text-1{
    width: 100%;
    height: 100%;
    color: #3C1A5B;
    display: none;
}
.project1:hover .text-1 {
    display: block;
    border-radius: 12px;
    background-color: #ff9800;
    /* background-color: #141c3a; */
}


.project2{
    flex: 0 0 31%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: #c80000;
    background-image: url('asset/AFC-logo-1.png');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
}


.project3{
    flex: 0 0 31%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: #c80000;
    background-image: url('asset/AFC-logo-1.png');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
}


.project4{
    flex: 0 0 31%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: #c80000;
    background-image: url('asset/AFC-logo-1.png');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
}

.project5{
    flex: 0 0 31%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: #c80000;
    background-image: url('asset/AFC-logo-1.png');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
}


.project6{
    flex: 0 0 31%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: #c80000;
    background-image: url('asset/AFC-logo-1.png');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
}


.exp-company{
    width: 88%;
    height: auto;
    /* background-color: rgb(241, 11, 11); */
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.company-hd{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.comp-sub-h{
    font-size: 1.3em;
    color: #fff;
    margin-top: -15px;
}
.comp-sub-h2{
    font-size: 1.3em;
    color: #fff;
    margin-top: -15px;
}
.mob-comp-sub-h{
    display: none;
}

.company{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.screen{
    flex: 0 0 25%;
    height: 80px;
    background-color: #081249;
    background-image: url('asset/screendrive-logo1-removebg-preview.png');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
}
.agts{
    flex: 0 0 25%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    /* background-color: #c80000; */
    background-image: url('asset/agts-logo.png');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
}

.resume{
    width: 88%;
    height: auto;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.res-btn-out{
    width: 88%;
    height: 100px;
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.res-btn{
    width: 23%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #ff9800;
    border-radius: 30px;
    color: #ff9800;
    cursor: pointer;
}
.res-btn:hover{
    background-color: #ff9800;
    color: #000;
}

.ref-out{
    width: 88%;
    height: 600px;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    /* border: solid 1px white; */
}
.ref-hd{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px white; */
}
.ref-sub-hd{
    font-size: 1.3em;
    color: #fff;
    margin-top: -15px;
}
.ref-photo{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px white; */
}
.ref-img{
    width: 10%;
    height: 60%;
    border-radius: 50%;
    background-image: url('asset/faisalcha.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* border: solid 3px #0ebdd4; */
}
.ref-q{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   /* border: solid 3px #0ebdd4; */
}
.ref-sub{
    font-size: 1.3em;
    color: #fff;
    margin-top: 0px;
}
.mob-ref-sub{
    display: none;
}
.ref-name{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.ref-name-hd{
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    margin-top: 0px;
}
.ref-name-hd-sub{
    font-size: 0.9em;
    color: #fff;
}




.mg-tp-20{
    margin-top: -20px;
}
.mg-tp-60{
    margin-top: 60px;
}






.box-4{
    width: 100%;
    height: 350px;
    background-color: rgb(31, 31, 45);
}
.contact-outer{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.svg{
    width: 5%;
    height: 20%;
    border-radius: 50%;
    background-image: url('asset/undraw_interview_re_e5jn.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 40px;
    /* border: solid 3px #0ebdd4; */
}
.contact-soci{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.contact-hd{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.contact-hd-h{
    font-size: 1.3em;
    color: rgb(199, 198, 198);
}





@media(max-width : 550px) {
    .info-outer{
        order: 2;
        flex: 0 0 100%;
    }
    .img-outer{
        order: 1;
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-1{
        height: auto;
        flex-wrap: wrap;
    }

    h4{
        font-size: 8vw;
        margin-left: -5%;
    }
    .subline{
        margin-top: -55px;
        margin-left: -20px;
        width: 50px;
    }
    .sub-head{
        font-size: 6vw;
        margin-left: -15px;
        margin-top: 10px;
    }
    .social-media{
        width: 200px;
        margin-top: 0px;
        margin-left: -15px;
        margin-bottom: 20px;
    }

    .box-2{
        min-height: 400px;
    }

    .box2-para{
        display: none;
    }

    .moblie-para{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 0em;
    }
    .box-2{
        height: 280px;
    }
    .box2-head-mobile{
        font-size: 6vw;
        color: #fff;
        font-weight: 600;
        margin-bottom: 40px;
        margin-top: -50px;
    }
    .small-para{
        font-size: 3vw;
        color: #fff;
        margin-top: 10px;
        /* font-weight: 600; */
    }


    .note{
        flex: 0 0 20%;
        /* height: 70px; */
        margin-top: -35px;
    }
    .small-note{
        flex: 0 0 90%;
        height: 70px;
    }

    .netlogo{
        width: 65px;
        margin-top: -5px;
    }


    .exp-head{
        font-size: 6vw;
    }
    .exp-sub-h{
        font-size: 3vw;
    }


    .box-3{
        height: 3200px;
    }
    .exp-outer{
        margin-top: -460px;
    }

    .project1{
        flex: 0 0 100%;
    }
    .project2{
        flex: 0 0 100%;
    }
    .project3{
        flex: 0 0 100%;
        margin-top: 55px;
    }
    .project4{
        flex: 0 0 100%;
        margin-top: 55px;
    }
    .project5{
        flex: 0 0 100%;
        margin-top: 55px;
    }
    .project6{
        flex: 0 0 100%;
        margin-top: 55px;
    }

    .exp-company{
        margin-top: 1200px;
    }
    .exp-head{
        font-size: 4vw;
    }
    .screen{
        flex: 0 0 40%;
        height: 80px;
    }
    .agts{
        flex: 0 0 40%;
        height: 80px;
    }
    .company-hd{
        margin-top: -70px;
    }
    .comp-sub-h{
        font-size: 4vw;
    }
    .mob-comp-sub-h{
        display: block;
        font-size: 4vw;
        color: #fff;
        margin-top: -15px;
    }
    .comp-sub-h2{
        display: none;
    }

    .res-btn{
        width: 50%;
    }

    .ref-hd{
        margin-top: -20px;
    }
    .ref-sub-hd{
        font-size: 3vw;
    }
    .ref-photo{
        height: 150px;
    }
    .ref-img{
        width: 20%;
        margin-top: -20px;
    }

    .ref-q{
        margin-top: -0px;
    }
    .mob-ref-sub{
        font-size: 3vw;
        color: #fff;
        display: block;
        margin-top: -10px;
    }
    .ref-sub{
        display: none;
    }

    .ref-name-hd-sub{
        font-size: 2.5vw;
        margin-top: -5px;
    }

    .svg{
        width: 10%;
        height: 20%;
    }
    .contact-hd-h{
        font-size: 3vw;
        color: rgb(199, 198, 198);
    }

    .mrg-tp-50{
        margin-top: -50px;
    }
}



@media(max-width : 470px) {
    .subline{
        margin-top: -50px;
        margin-left: -20px;
        width: 50px;
    }

    .netlogo{
        width: 58px;
        margin-top: -0px;
    }

    .mrg-tp-50{
        margin-top: -60px;
    }


}

@media(max-width : 430px) {
    .subline{
        margin-top: -40px;
        margin-left: -18px;
        width: 40px;
    }
}

@media(max-width : 350px) {
    .subline{
        margin-top: -30px;
        margin-left: -16px;
        width: 36px;
    }

    .netlogo{
        width: 48px;
        margin-top: 5px;
    }

}

@media(max-width : 300px) {
    .subline{
        margin-top: -30px;
        margin-left: -16px;
        width: 34px;
    }

    .netlogo{
        width: 40px;
        margin-top: 8px;
    }
}